:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #3365dd;
}

* {
    margin: 0;
    padding: 0;
    /* quitar contorno predeterminado de algunos elementos */
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    /* altura entre lineaas */
    line-height: 1.5%;
}

.aside {
    width: 270px;
    height: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-black-100);
    border-right: 1px solid var(--bg-black-50);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo img {
    width: 110px;
    height: auto;
}

.aside .nav {
    margin-top: 100px;
}

ul {
    list-style: none;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav li a i {
    margin-right: 1rem;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}

.uno {
    border: 1px solid red;
}

.dos {
    border: 1px solid blue;
}

.tres {
    border: 1px solid yellow;
}